.featuresSectionContainer {
    background-color: #a89bff;
    padding: 40px 30px;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 1rem;
    box-shadow: 0px 1px 1px 1px white;
}

.featuresSectionContainer h3 {
    color: orangered;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 40px;
    font-size: 30px;
}

.featuresSectionContainer h1 {
    color: black;
    font-size: 40px;
    margin: 20px 0px;
}

.featuresSectionContainer p {
    color: #343434;
    font-weight: 600;
    padding: 20px 0px;
}

.featureItemIcon {
    height: 40px;
    margin-top: 30px;
    border-radius: 50%;
    border: 1px solid #343434;
    padding: 3px;
}

.item {
    padding: 10px 20px;
    display: flex;
    gap: 30px;
}

.item h2 {
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}

.item p {
    color: #343434;
}