.featureCardContainer {
    /* background-color: red; */
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
    margin-top: 50px;
}

.featureCardContainer button {
    text-decoration: none;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.featureCardContainer button img {
    height: 30px;
    background-color: transparent;
}

.featureCardContainer button:first-child {
    rotate: 180deg;
}

.featureCard {
    border-radius: 1rem;
    padding: 20px 20px;
    color: white;
    background-color: #1b191d;
    box-shadow: 0 1px 1px black;
}

.featureCard h3 {
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.featureCard p {
    letter-spacing: 1px;
    font-weight: 600;
    color: #98969f;
}

.featureCard img {
    padding: 2px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}