.footerBorder {
    height: 500px;
}

.footer {
    padding: 80px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer ul {
    list-style: none;
}

hr {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.socialNetworks {
    padding: 0px 30px;
    margin-top: 30px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.socialNetworks img {
    width: 40px;
}

.socialNetworks ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialNetworks p {
    letter-spacing: 1px;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
}

.footerLinks li h2 {
    margin-bottom: 10px;
}

.footerContentLink {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerContentLink a {
    color: rgb(184, 184, 184);
}