.header {
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    filter: brightness(0) invert(1);
}

.authentication {
    display: flex;
    gap: 10px;
}

.authentication button {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 20px;
    font-size: 21px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
    border: solid 2px transparent;
}

.authentication button:hover {
    border: solid 2px white;
    border-radius: 5px;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navbar ul a {
    color: white;
}

.navbar ul a:hover {
    color: #4b4b4b;
}