.sectionContainer {
    outline: none;
    background-color: white;
    min-height: calc(100vh - 60px);
    padding: 20px 30px 200px 30px;
}

.listOfClasses {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.classItem {
    margin: 20px 15px;
    position: relative;
    transition: all 0.3s ease;
}

.classItem:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.classItem:hover {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0px;
}

.classItem:hover .classDescription {
    display: inherit;
}

.classItemDetails {
    padding: 5px 20px;
    color: black;
}

.classImg {
    height: auto;
    width: 100%;
}

.itemTitle {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    color: black;
}

.itemTitle img {
    width: 30px;
    height: 30px;
}

.instructor {
    color: grey;
    font-weight: 500;
    padding: 10px 0;
    font-size: 13px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.instructor:hover {
    text-decoration: underline;
}

.classImageContainer {
    position: relative;
}

.classCategory {
    font-weight: 600;
    letter-spacing: 1px;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    position: absolute;
    z-index: 197;
    background-color: rgb(255, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.classDuration {
    font-weight: 600;
    position: absolute;
    z-index: 197;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 10px;
    color: white;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(49, 104, 166, 0.6);
}

.classDescription {
    background-color: white;
    padding: 10px 20px 10px;
    display: none;
    position: absolute;
    z-index: 198;
    width: 100%;
    left: 0;
}

.instructorDropDownMenuContainer {
    position: relative;
    /* overflow: hidden; */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.instructorDropDownMenu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.instructorDropDownMenu {
    width: min-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    z-index: 199;
    left: calc(50% - 50px);
    transform: translateX(-50%);
    top: 50%;
    opacity: 0;
    transition: all 0.3s ease;
}

.instructorDropDownMenu.active {
    opacity: 1;
    transition: all 0.3s ease;
}

.coachInfos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.coachInfos h2 {
    font-size: 13px;
}

.coachInfos h4 {
    font-size: 11px;
}