@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

button,
input {
    outline: none;
}


/* body {
        background-color: #120425;
    } */