.allNotificationsSection {
    padding: 30px 20px;
    background-color: white;
}

.allNotificationsSection h1 {
    font-size: 40px;
    margin-bottom: 30px;
    padding-left: 50px;
}

.notificationList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    list-style: none;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
}

.notificationItem {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 30px;
    background-color: #f3f4f6;
    border: 1px solid #e3e3e3;
    border-radius: 1rem;
    padding: 20px 30px;
    width: 100%;
    align-items: center;
}

.notificationIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.notificationItem h3 {
    color: black;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.actions h2 {
    font-weight: 600;
    color: #7a7a7a;
}

.actions button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.actions img {
    width: 20px;
    height: 20px;
}

.notificationItemDetails {
    overflow-x: hidden;
}

.notificationItemDetails h3 {
    color: #111827;
}

.notificationItemDetails p {
    color: #6b7280;
}